* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}
.blob {
  width: 400px;
  height: 400px;
  background-image: url(images/sunset.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  animation: blob 3.5s linear infinite;
}
@keyframes blob {
  0%,
  100% {
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  }

  33% {
    border-radius: 42% 28% 48% 48% / 28% 28% 72% 72%;
  }

  66% {
    border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
  }
}
